@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button, input, select, textarea {
  color: #e322f9;
  font: inherit;
  margin: 0;
}

label {
    color: white;
}
input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #6b5071;
  max-width: 768px;
  margin: 10px auto;
  position: relative;
}

form {
  padding: 20px;
  margin:30px 0;
  border: white;
}
h3 {
  text-decoration: underline;
}
.pcontact {
  color: #00bbff;
  font-style: italic;
}
.underline {
  border-bottom: solid 2px #849221;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #00bbff;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}
.option {
    background-color: rgba(201, 179, 245, 0.649);
    opacity: 80%;
}
input[type='text'], [type='email'],select, textarea {
	background: rgba(201, 179, 245, 0.649);
  border: none;
	border-bottom: solid 2px #bb00ff;
	color: #ffffff;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
	width: 100%;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

input[type='text']::placeholder {
    color: white;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 30%;
    color: white;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
}

select::-ms-expand {
  display: none;
}

.subject .telephone{
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}
:-moz-placeholder { 
	color: #ffffff;
}

::-moz-placeholder {
	color: #9178d7;
	opacity: 1;
}
#form_button {
  background: none;
  border: solid 2px #b4ff12;
  color: #765eff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
}

#form_button:hover {
  background: #b83d00;
  color: #F2F3EB;
}

/*Responsive*/
@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  .underline {
    width: 68px;
  }
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  .icon {
    height: 35px;
    width: 35px;
  }
  .underline {
    width: 53px;
  }
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}